{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-2">
	<div class="row no-gutters justify-content-center ">
		<h5 class="card-title">
			<a class="btn btn-update" href="{{ url_for(history, _id=id) }}" title="Annulla"
			   type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}"/>
			</a>
			Modifica l' OPPORTUNITA' [ {{ id }} ]:
		</h5>
		<form class="shadow rounded" enctype="multipart/form-data" method="POST"
			  style="border: solid 2px #ED6666 !important;">
			{{ form.csrf_token }}
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-2 order-first">
					<div class="form-group">
						{{ form.opp_date.label(style="font-size: 1.2rem;") }}
						{{ form.opp_date(class="form-control emphasis") }}
						{% if form.opp_date.errors %}
						{% for error in form.opp_date.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-4 order-second">
					<div class="form-group">
						{{ form.opp_activity.label(style="font-size: 1.2rem;") }}
						{{ form.opp_activity(class="form-control emphasis", style="text-align: center;") }}
					</div>
				</div>
				<div class="col-md-6 order-third">
					<div class="form-group">
						{{ form.opp_description.label(style="font-size: 1.2rem;") }}
						{{ form.opp_description(class="form-control emphasis") }}
						{% if form.opp_description.errors %}
						{% for error in form.opp_description.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-2 order-first">
					<div class="form-group">
						{{ form.opp_expiration_date.label(style="font-size: 1.2rem;") }}
						{{ form.opp_expiration_date(class="form-control", style="text-align: center;") }}
						{% if form.opp_expiration_date.errors %}
						{% for error in form.opp_expiration_date.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-5 order-second">
					<div class="form-group">
						{{ form.opp_category.label(style="font-size: 1.2rem;") }}
						{{ form.opp_category(class="form-control", style="text-align: center;") }}
						{% if form.opp_category.errors %}
						{% for error in form.opp_category.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-5 order-third">
					<div class="form-group">
						{{ form.opp_accountable.label(style="font-size: 1.2rem;") }}
						{{ form.opp_accountable(class="form-control", style="text-align: center;") }}
						{% if form.opp_accountable.errors %}
						{% for error in form.opp_accountable.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-4 order-first">
					<div class="form-group">
						{{ form.opp_status.label(style="font-size: 1.2rem;") }}
						{{ form.opp_status(class="form-control emphasis", style="text-align: center;") }}
						{% if form.opp_status.errors %}
						{% for error in form.opp_status.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-6 order-first">
					<div class="form-group">
						{{ form.partner_contact_id.label(style="font-size: 1.2rem;") }}
						{{ form.partner_contact_id(class="form-control", style="text-align: center;") }}
						{% if form.partner_contact_id.errors %}
						{% for error in form.partner_contact_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-6 order-first">
					<div class="form-group">
						{{ form.partner_id.label(style="font-size: 1.2rem;") }}
						{{ form.partner_id(class="form-control emphasis", style="text-align: center;") }}
						{% if form.partner_id.errors %}
						{% for error in form.partner_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-6 order-second">
					<div class="form-group">
						{{ form.partner_site_id.label(style="font-size: 1.2rem;") }}
						{{ form.partner_site_id(class="form-control", style="text-align: center;") }}
						{% if form.partner_site_id.errors %}
						{% for error in form.partner_site_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-6 order-first">
					<div class="form-group">
						{{ form.plant_id.label(style="font-size: 1.2rem;") }}
						{{ form.plant_id(class="form-control emphasis", style="text-align: center;") }}
						{% if form.plant_id.errors %}
						{% for error in form.plant_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-6 order-second">
					<div class="form-group">
						{{ form.plant_site_id.label(style="font-size: 1.2rem;") }}
						{{ form.plant_site_id(class="form-control", style="text-align: center;") }}
						{% if form.plant_site_id.errors %}
						{% for error in form.plant_site_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="form-group">
					{{ form.note.label(style="font-size: 1.2rem;") }}
					{{ form.note(class="form-control") }}
					{% if form.note.errors %}
					{% for error in form.note.errors %}
					<span class="text-danger">{{ error }}</span>
					<br>
					{% endfor %}
					{% endif %}
				</div>
			</div>
			<br>
			<button class="btn btn-update" id="button" title="Salva" type="submit" value="x">
				<img alt="" class="icon-simple"
					 src="{{ url_for('static', filename='icons/save.svg') }}"/>
			</button>
			<br>
		</form>
	</div>
</div>

{% endblock %}
