{% extends '_base.html' %}

{% block content %}
<form enctype="multipart/form-data" method="POST">
	<div class="container text-center mt-2 mx-auto" style="margin: 0px;">
		<div class="row no-gutters justify-content-center">
			<div class="col-md-12 shadow rounded">
				<h3 style="padding-top: 10px;">
					Elenco Contati:</h3>
				<div class="table-responsive" style="padding: 10px">
					<table class="table table-striped" id="data" style="width:100%">
						<thead>
						<tr style="background-color: #2B4692; vertical-align: center;">
							<th class="title" id="h1">ID</th>
							<th class="title" id="h2">Nome Cognome</th>
							<th class="title" id="h3">Email</th>
							<th class="title" id="h4" data-sortable="false">Telefono</th>
							<th class="title" id="h5">Partner</th>
							<th class="title" id="h6">Ruolo</th>
						</tr>
						</thead>
						<tbody>
						{% for row in form %}
						<tr style="border: 0pz; vertical-align: center;">
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								<a class="tab-link" href="{{ url_for(detail, _id=row.id) }}" style=""
								   title="Visualizza">
									{{ row.id|e }}
								</a>
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.full_name|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{% if row.email %}
								<a class="tab-link" href="mailto:{{ row.email }}" style=""
								   title="Send email">
									<img alt="" src="{{ url_for('static', filename='icons/at.svg') }}">
								</a>
								{% endif %}
								{{ row.email|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.phone|e }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{%
									if 'superuser' in session['user_roles']
									or 'partner_admin' in session['user_roles']
									or 'partner_read' in session['user_roles']
								%}
								<a class="tab-link" href="{{ url_for(partner_detail, _id=row.partner_id) }}" style=""
								   title="Visualizza">
									{{ row.partner_id|e }}
								</a>
								{% else %}
									{{ row.partner_id|e }}
								{% endif %}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.role|e }}
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<br>
			</div>
		</div>
	</div>
</form>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            responsive: {
                breakpoints: [
                    { name: 'bigdesktop', width: 1920 },
                    { name: 'meddesktop', width: 1480 },
                    { name: 'smalldesktop', width: 1280 },
                    { name: 'medium', width: 1188 },
                    { name: 'tabletl', width: 1024 },
                    { name: 'btwtabllandp', width: 848 },
                    { name: 'tabletp', width: 768 },
                    { name: 'mobilel', width: 480 },
                    { name: 'mobilep', width: 320 }
                ]
            }
        });
    });
</script>
{% endblock %}
