{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-2">
	<div class="row no-gutters justify-content-center ">
		<h5 class="card-title">
			<a class="btn btn-update" href="{{ url_for(history, _id=id) }}" title="Annulla"
			   type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}"/>
			</a>
			Modifica l'Ordine [ {{ id }} ]:
		</h5>
		<form class="shadow rounded" enctype="multipart/form-data" method="POST"
			  style="border: solid 2px #ED6666 !important;">
			{{ form.csrf_token }}
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-2 order-first">
					<div class="form-group">
						{{ form.oda_number.label(style="font-size: 1.2rem;") }}
						{{ form.oda_number(class="form-control emphasis") }}
					</div>
				</div>
				<div class="col-md-2 order-second">
					<div class="form-group">
						{{ form.oda_date.label(style="font-size: 1.2rem;") }}
						{{ form.oda_date(class="form-control emphasis") }}
						{% if form.oda_date.errors %}
						{% for error in form.oda_date.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-8 order-third">
					<div class="form-group">
						{{ form.oda_description.label(style="font-size: 1.2rem;") }}
						{{ form.oda_description(class="form-control emphasis") }}
						{% if form.oda_description.errors %}
						{% for error in form.oda_description.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-2 order-first">
					<div class="form-group">
						{{ form.oda_delivery_date.label(style="font-size: 1.2rem;") }}
						{{ form.oda_delivery_date(class="form-control emphasis") }}
						{% if form.oda_delivery_date.errors %}
						{% for error in form.oda_delivery_date.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-1 order-second">
					<div class="form-group">
						{{ form.oda_currency.label(style="font-size: 1.2rem;") }}
						{{ form.oda_currency(class="form-control", style="text-align: center;") }}
						{% if form.oda_currency.errors %}
						{% for error in form.oda_currency.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-4 order-third">
					<div class="form-group">
						{{ form.oda_payment.label(style="font-size: 1.2rem;") }}
						{{ form.oda_payment(class="form-control", style="text-align: center;") }}
						{% if form.oda_payment.errors %}
						{% for error in form.oda_payment.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-2 order-fourth">
					<div class="form-group">
						{{ form.oda_status.label(style="font-size: 1.2rem;") }}
						{{ form.oda_status(class="form-control", style="text-align: center;") }}
						{% if form.oda_status.errors %}
						{% for error in form.oda_status.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-3 order-fourth">
					<div class="form-group">
						{{ form.oda_category.label(style="font-size: 1.2rem;") }}
						{{ form.oda_category(class="form-control", style="text-align: center;") }}
						{% if form.oda_category.errors %}
						{% for error in form.oda_category.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-3 order-first">
					<div class="form-group">
						{{ form.supplier_offer.label(style="font-size: 1.2rem;") }}
						{{ form.supplier_offer(class="form-control emphasis") }}
						{% if form.supplier_offer.errors %}
						{% for error in form.supplier_offer.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-3 order-second">
					<div class="form-group">
						{{ form.supplier_offer_date.label(style="font-size: 1.2rem;") }}
						{{ form.supplier_offer_date(class="form-control") }}
						{% if form.supplier_offer_date.errors %}
						{% for error in form.supplier_offer_date.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-3 order-third">
					<div class="form-group">
						{{ form.supplier_invoice.label(style="font-size: 1.2rem;") }}
						{{ form.supplier_invoice(class="form-control") }}
						{% if form.supplier_invoice.errors %}
						{% for error in form.supplier_invoice.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-3 order-fourth">
					<div class="form-group">
						{{ form.supplier_invoice_date.label(style="font-size: 1.2rem;") }}
						{{ form.supplier_invoice_date(class="form-control") }}
						{% if form.supplier_invoice_date.errors %}
						{% for error in form.supplier_invoice_date.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-6 order-first">
					<div class="form-group">
						{{ form.supplier_id.label(style="font-size: 1.2rem;") }}
						{{ form.supplier_id(class="form-control emphasis", style="text-align: center;") }}
						{% if form.supplier_id.errors %}
						{% for error in form.supplier_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-6 order-second">
					<div class="form-group">
						{{ form.supplier_site_id.label(style="font-size: 1.2rem;") }}
						{{ form.supplier_site_id(class="form-control", style="text-align: center;") }}
						{% if form.supplier_site_id.errors %}
						{% for error in form.supplier_site_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-6 order-first">
					<div class="form-group">
						{{ form.plant_id.label(style="font-size: 1.2rem;") }}
						{{ form.plant_id(class="form-control emphasis", style="text-align: center;") }}
						{% if form.plant_id.errors %}
						{% for error in form.plant_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-md-6 order-second">
					<div class="form-group">
						{{ form.plant_site_id.label(style="font-size: 1.2rem;") }}
						{{ form.plant_site_id(class="form-control", style="text-align: center;") }}
						{% if form.plant_site_id.errors %}
						{% for error in form.plant_site_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center rounded"
				 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
				<div class="form-group">
					{{ form.note.label(style="font-size: 1.2rem;") }}
					{{ form.note(class="form-control") }}
					{% if form.note.errors %}
					{% for error in form.note.errors %}
					<span class="text-danger">{{ error }}</span>
					<br>
					{% endfor %}
					{% endif %}
				</div>
			</div>
			<button class="btn btn-update" id="button" title="Salva" type="submit" value="x">
				<img alt="" class="icon-simple"
					 src="{{ url_for('static', filename='icons/save.svg') }}"/>
			</button>
			<div>
				<p class="info">Data Creazione: {{ info.created_at }}</p>
				<p class="info">Ultima Modifica: {{ info.updated_at }}</p>
			</div>
		</form>
	</div>
</div>

{% endblock %}
