{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-2">
    <div class="row no-gutters justify-content-center">
        <h5 class="card-title">
            <a class="btn btn-update" type="button" href="{{ url_for(history, _id=id) }}" title="Annulla">
                <img class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}" alt=""/>
            </a>
            Cambio PASSWORD per utente ID: [ {{ id }} ].
        </h5>
        <div class="col-md-4 shadow shadow rounded"
             style="border: solid 0.7px #ED6666 !important;">
            <form enctype="multipart/form-data" method="POST">
                {{ form.csrf_token }}
                <br>
                <div class="form-group">
                    {{ form.old_password.label }}
                    {{ form.old_password(class="form-control") }}
                    {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                    <br>
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.new_password_1.label }}
                    {{ form.new_password_1(class="form-control") }}
                    {% if form.new_password_1.errors %}
                    {% for error in form.password1.errors %}
                    <br>
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.new_password_2.label }}
                    {{ form.new_password_2(class="form-control") }}
                    {% if form.new_password_2.errors %}
                    {% for error in form.new_password_2.errors %}
                    <br>
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
                <br>
                <button id="button" class="btn btn-update" type="submit" title="Send new password." value="x">
                    <img class="icon-simple" src="{{ url_for('static', filename='icons/save.svg') }}"
                         alt=""/>
                </button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
