{% extends '_base.html' %}

{% block content %}
<form enctype="multipart/form-data" method="POST">
	{{ form.csrf_token }}
	<div class="container text-center mt-2">
		<h5 class="card-title">
			<a class="btn btn-update" href="{{ url_for(view) }}" title="Vai a lista records"
			   type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/list_blue.svg') }}"/>
			</a>
			Dati PARTNER [ {{ form.id }} ]
			<!--	Modifica-->
			{%
				if 'superuser' in session['user_roles']
				or 'partners_admin' in session['user_roles']
				or 'partners_write' in session['user_roles']
			%}
			<a class="btn btn-update" href="{{ url_for(update, _id=form.id) }}"
			   title="Modifica Partner"
			   type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/pencil_red.svg') }}"/>
			</a>
			{%  endif %}
			<!--	Crea Contatto-->
			{%
				if 'superuser' in session['user_roles']
				or 'partner_contacts_admin' in session['user_roles']
				or 'partner_contacts_admin' in session['user_roles']
			%}
			<a class="btn btn-update" href="{{ url_for(contact_create, p_id=form.id, s_id=0) }}"
			   title="Aggiungi Contatto"
			   type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/person_add.svg') }}"/>
			</a>
			{%  endif %}
			<!--	Crea Sito-->
			{%
				if 'superuser' in session['user_roles']
				or 'partner_sites_admin' in session['user_roles']
				or 'partner_sites_write' in session['user_roles']
			%}
			<a class="btn btn-update" href="{{ url_for(site_create, p_id=form.id) }}"
			   title="Aggiungi Sito"
			   type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/building-fill.svg') }}"/>
			</a>
			{%  endif %}
			<!--	Crea Articolo-->
			{%
				if 'superuser' in session['user_roles']
				or 'items_admin' in session['user_roles']
				or 'items_write' in session['user_roles']
			%}
			<a class="btn btn-update" href="{{ url_for(item_create, p_id=form.id, s_id=0) }}"
			   title="Aggiungi Articolo"
			   type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/item_fill.svg') }}"/>
			</a>
			{%  endif %}
		</h5>
	</div>
	
	<div class="container text-center mt-2">
		<div class="row no-gutters justify-content-center rounded"
			 style="background-color: #DEDEDE; padding: 10px;">
			<div class="col-md-9 order-first">
				<div class="form-group">
					<h6> Ragione Sociale </h6>
					<p class="form-control" style="font-weight: bold; color: #5B5A5B">
						{{ form.organization }}
					</p>
				</div>
			</div>
			<div class="col-md-1 order-first">
				<div class="form-group">
					<h6> Cliente </h6>
					{% if form.client == True %}
					<img alt="" src="{{ url_for('static', filename='icons/check_OK.svg') }}">
					{% else %}
					<img alt="" src="{{ url_for('static', filename='icons/check_KO.svg') }}">
					{% endif %}
				</div>
			</div>
			<div class="col-md-1 order-second">
				<div class="form-group">
					<h6> Fornitore </h6>
					{% if form.supplier == True %}
					<img alt="" src="{{ url_for('static', filename='icons/check_OK.svg') }}">
					{% else %}
					<img alt="" src="{{ url_for('static', filename='icons/check_KO.svg') }}">
					{% endif %}
				</div>
			</div>
			<div class="col-md-1 order-third">
				<div class="form-group">
					<h6> Partner </h6>
					{% if form.partner == True %}
					<img alt="" src="{{ url_for('static', filename='icons/check_OK.svg') }}">
					{% else %}
					<img alt="" src="{{ url_for('static', filename='icons/check_KO.svg') }}">
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-center rounded"
			 style="background-color: #DEDEDE; padding: 10px;">
			<div class="col-md-6 order-first">
				<div class="form-group">
					<h6>
						{% if form.email %}
						<a class="tab-link" href="mailto:{{ form.email }}" style=""
						   title="open email">
							<img alt="" src="{{ url_for('static', filename='icons/at.svg') }}">
						</a>
						{% endif %}
						email
					</h6>
					<p class="form-control" style="font-weight: bold; color: #5B5A5B">
						{{ form.email }}
					</p>
				</div>
			</div>
			<div class="col-md-6 order-second">
				<div class="form-group">
					<h6>
						{% if form.pec %}
						<a class="tab-link" href="mailto:{{ form.pec }}" style=""
						   title="open email">
							<img alt="" src="{{ url_for('static', filename='icons/at.svg') }}">
						</a>
						{% endif %}
						pec
					</h6>
					<p class="form-control" style="font-weight: bold; color: #5B5A5B">
						{{ form.pec }}
					</p>
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-center rounded"
			 style="background-color: #DEDEDE; padding: 10px;">
			<div class="col-md-6 order-first">
				<div class="form-group">
					<h6> Telefono </h6>
					<p class="form-control" style="font-weight: bold; color: #5B5A5B">
						{{ form.phone }}
					</p>
				</div>
			</div>
			<div class="col-md-6 order-second">
				<div class="form-group">
					<h6> SDI CODE </h6>
					<p class="form-control" style="font-weight: bold; color: #5B5A5B">
						{{ form.sdi_code }}
					</p>
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-center rounded"
			 style="background-color: #DEDEDE; padding: 10px;">
			<div class="col-md-6 order-first">
				<div class="form-group">
					<h6> P.IVA </h6>
					<p class="form-control" style="font-weight: bold; color: #5B5A5B">
						{{ form.vat_number }}
					</p>
				</div>
			</div>
			<div class="col-md-6 order-second">
				<div class="form-group">
					<h6> C.F. </h6>
					<p class="form-control" style="font-weight: bold; color: #5B5A5B">
						{{ form.fiscal_code }}
					</p>
				</div>
			</div>
		</div>
		<div class="row no-gutters rounded"
			 style="background-color: #DEDEDE; padding: 10px;">
			<h6> Indirizzo </h6>
			<p class="form-control" style="font-weight: bold; color: #5B5A5B">
				{{ form.full_address }}
			</p>
		</div>
		<div class="form-group rounded"
			 style="background-color: #DEDEDE; padding: 10px;">
			<h6> Note </h6>
			<p class="form-control" style="font-weight: bold; color: #5B5A5B">
				{{ form.note }}
			</p>
		</div>
	</div>
</form>
<div class="container text-center mt-2 mx-auto" style="margin: 0px;">
	<div class="accordion" id="accordion">
		<!--	Contatti collegati-->
		<div class="accordion-item">
			<h2 class="accordion-header" id="2">
				<button aria-controls="collapse2"
						aria-expanded="true"
						class="accordion-button"
						data-bs-target="#collapse2"
						data-bs-toggle="collapse"
						type="button">
					Elenco Contatti [ {{ c_len }} ]
				</button>
			</h2>
			<div aria-labelledby="heading1"
				 class="accordion-collapse collapse"
				 data-bs-parent="#accordion"
				 id="collapse2">
				<div class="table-responsive" style="padding: 10px">
					<table class="table table-striped" id="contacts" style="width:100%">
						<thead>
						<tr style="background-color: #2B4692; vertical-align: center;">
							<th class="title" id="c1">ID</th>
							<th class="title" id="c2">Nome e Cognome</th>
							<th class="title" id="c3">Email</th>
							<th class="title" id="c4" data-sortable="False">Telefono</th>
							<th class="title" id="c5">Ruolo</th>
						</tr>
						</thead>
						<tbody>
						{% for row in contacts_list %}
						<tr class="selectable-row" style="border: 0pz; vertical-align: center;">
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{%
									if 'superuser' in session['user_roles']
									or 'partner_contacts_admin' in session['user_roles']
									or 'partner_contacts_read' in session['user_roles']
								%}
								<a class="btn-table" href="{{ url_for(contact_detail, _id=row.id) }}"
								   title="Visualizza Record"
								   type="button">
									{{ row.id|e }}
								</a>
								{% else %}
									{{ row.id|e }}
								{% endif %}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.full_name|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{% if row.email %}
								<a class="tab-link" href="mailto:{{ row.email }}" style=""
								   title="Send email">
									<img alt="" src="{{ url_for('static', filename='icons/at.svg') }}">
								</a>
								{% endif %}
								{{ row.email|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.phone|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.role|e }}
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!--	Siti collegati-->
		<div class="accordion-item">
			<h2 class="accordion-header" id="3">
				<button aria-controls="collapse3"
						aria-expanded="true"
						class="accordion-button"
						data-bs-target="#collapse3"
						data-bs-toggle="collapse"
						type="button">
					Elenco Siti [ {{ s_len }} ]
				</button>
			</h2>
			<div aria-labelledby="heading3"
				 class="accordion-collapse collapse"
				 data-bs-parent="#accordion"
				 id="collapse3">
				<div class="table-responsive" style="padding: 10px">
					<table class="table table-striped" id="sites" style="width:100%">
						<thead>
						<tr style="background-color: #2B4692; vertical-align: center;">
							<th class="title" id="s1">ID</th>
							<th class="title" id="s2">Rag. Soc.</th>
							<th class="title" id="s3">Email</th>
							<th class="title" id="s4" data-sortable="False">Telefono</th>
							<th class="title" id="s5">Ruolo</th>
						</tr>
						</thead>
						<tbody>
						{% for row in sites_list %}
						<tr class="selectable-row" style="border: 0pz; vertical-align: center;">
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{%
									if 'superuser' in session['user_roles']
									or 'partner_sites_admin' in session['user_roles']
									or 'partner_sites_read' in session['user_roles']
								%}
								<a class="btn-table" href="{{ url_for(site_detail, _id=row.id) }}"
								   title="Visualizza Record"
								   type="button">
									{{ row.id|e }}
								</a>
								{% else %}
									{{ row.id|e }}
								{% endif %}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.site|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{% if row.email %}
								<a class="tab-link" href="mailto:{{ row.email }}" style=""
								   title="Send email">
									<img alt="" src="{{ url_for('static', filename='icons/at.svg') }}">
								</a>
								{% endif %}
								{{ row.email|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.phone|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.city|e }}
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!--	Articoli collegati-->
		{% if i_len != 0 %}
		<div class="accordion-item">
			<h2 class="accordion-header" id="4">
				<button aria-controls="collapse4"
						aria-expanded="true"
						class="accordion-button"
						data-bs-target="#collapse4"
						data-bs-toggle="collapse"
						type="button">
					Elenco Articoli Fornitore [ {{ i_len }} ]
				</button>
			</h2>
			<div aria-labelledby="heading3"
				 class="accordion-collapse collapse"
				 data-bs-parent="#accordion"
				 id="collapse4">
				<div class="table-responsive" style="padding: 10px">
					<table class="table table-striped" id="items" style="width:100%">
						<thead>
						<tr style="background-color: #2B4692; vertical-align: center;">
							<th class="title" id="i1">ID</th>
							<th class="title" id="i2">Codice</th>
							<th class="title" id="i3">Codice F.</th>
							<th class="title" id="i4">Descrizione</th>
							<th class="title" id="i5">Prezzo</th>
							<th class="title" id="i6">Sconto</th>
							<th class="title" id="i7">F.S.</th>
						</tr>
						</thead>
						<tbody>
						{% for row in items_list %}
						<tr class="selectable-row" style="border: 0pz; vertical-align: center;">
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{%
									if 'superuser' in session['user_roles']
									or 'items_admin' in session['user_roles']
									or 'items_read' in session['user_roles']
								%}
								<a class="btn-table" href="{{ url_for(item_detail, _id=row.id) }}"
								   title="Visualizza Record"
								   type="button">
									{{ row.id|e }}
								</a>
								{% else %}
									{{ row.id|e }}
								{% endif %}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.item_code|e }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.item_code_supplier|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.item_description|e }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.item_price|e }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.item_price_discount|e }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{%
									if 'superuser' in session['user_roles']
									or 'partner_sites_admin' in session['user_roles']
									or 'partner_sites_read' in session['user_roles']
								%}
								<a class="btn-table" href="{{ url_for(site_detail, _id=row.supplier_site_id) }}"
								   title="Visualizza Record"
								   type="button">
									{{ row.supplier_site_id|e }}
								</a>
								{% else %}
									{{ row.supplier_site_id|e }}
								{% endif %}
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% endif %}
		<!--	Modifiche Record-->
		<div class="accordion-item">
			<h2 class="accordion-header" id="1">
				<button aria-controls="collapseOne"
						aria-expanded="true"
						class="accordion-button"
						data-bs-target="#collapse1"
						data-bs-toggle="collapse"
						type="button">
					Elenco Modifiche al Record [ {{ h_len }} ]
				</button>
			</h2>
			<div aria-labelledby="heading1"
				 class="accordion-collapse collapse"
				 data-bs-parent="#accordion"
				 id="collapse1">
				<div class="table-responsive" style="padding: 10px">
					<table class="table table-striped" id="events" style="width:100%">
						<thead>
						<tr style="background-color: #2B4692; vertical-align: center;">
							<th class="title" data-defaultsort="desc" id="h1">ID</th>
							<th class="title" id="h2">Modifica</th>
							<th class="title" id="h3">Data</th>
						</tr>
						</thead>
						<tbody>
						{% for row in history_list %}
						<tr class="selectable-row" style="border: 0pz; vertical-align: center;">
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{%
									if 'superuser' in session['user_roles']
									or 'partners_admin' in session['user_roles']
									or 'partners_write' in session['user_roles']
								%}
								<a class="btn-table" href="{{ url_for(event_detail, _id=row.id) }}"
								   title="Visualizza Record"
								   type="button">
									{{ row.id|e }}
								</a>
								{% else %}
									{{ row.id|e }}
								{% endif %}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz; font-size: 0.5rem;">
								{{ row.event|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.created_at|e }}
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
</div>
<br>
<p class="info">Data Creazione: {{ form.created_at }}</p>
<p class="info">Ultima modifica: {{ form.updated_at }}</p>

{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#contacts').DataTable({
            responsive: {
                breakpoints: [
                    { name: 'bigdesktop', width: 1920 },
                    { name: 'meddesktop', width: 1480 },
                    { name: 'smalldesktop', width: 1280 },
                    { name: 'medium', width: 1188 },
                    { name: 'tabletl', width: 1024 },
                    { name: 'btwtabllandp', width: 848 },
                    { name: 'tabletp', width: 768 },
                    { name: 'mobilel', width: 480 },
                    { name: 'mobilep', width: 320 }
                ]
            },
        });
    });
    
    $(document).ready(function () {
        $('#sites').DataTable({
            responsive: {
                breakpoints: [
                    { name: 'bigdesktop', width: 1920 },
                    { name: 'meddesktop', width: 1480 },
                    { name: 'smalldesktop', width: 1280 },
                    { name: 'medium', width: 1188 },
                    { name: 'tabletl', width: 1024 },
                    { name: 'btwtabllandp', width: 848 },
                    { name: 'tabletp', width: 768 },
                    { name: 'mobilel', width: 480 },
                    { name: 'mobilep', width: 320 }
                ]
            },
        });
    });
    
    $(document).ready(function () {
        $('#items').DataTable({
            responsive: {
                breakpoints: [
                    { name: 'bigdesktop', width: 1920 },
                    { name: 'meddesktop', width: 1480 },
                    { name: 'smalldesktop', width: 1280 },
                    { name: 'medium', width: 1188 },
                    { name: 'tabletl', width: 1024 },
                    { name: 'btwtabllandp', width: 848 },
                    { name: 'tabletp', width: 768 },
                    { name: 'mobilel', width: 480 },
                    { name: 'mobilep', width: 320 }
                ]
            },
        });
    });
    
    $(document).ready(function () {
        $('#events').DataTable({
            responsive: {
                breakpoints: [
                    { name: 'bigdesktop', width: 1920 },
                    { name: 'meddesktop', width: 1480 },
                    { name: 'smalldesktop', width: 1280 },
                    { name: 'medium', width: 1188 },
                    { name: 'tabletl', width: 1024 },
                    { name: 'btwtabllandp', width: 848 },
                    { name: 'tabletp', width: 768 },
                    { name: 'mobilel', width: 480 },
                    { name: 'mobilep', width: 320 }
                ]
            },
        });
    });
</script>
{% endblock %}
