{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-2">
	<div class="row no-gutters justify-content-center">
		<div class="col-md-10 shadow rounded" style="border: solid 2px #ED6666 !important;">
			<form enctype="multipart/form-data" method="POST">
				{{ form.csrf_token }}
				<h5 class="card-title">
					<a class="btn btn-update" href="{{ url_for(invoice_view, _id=inv_id) }}" title="Annulla"
					   type="button">
						<img alt="" class="icon-simple"
							 src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}"/>
					</a>
					Aggiungi RIGA in FATTURA [ {{ inv_id }} ]:
				</h5>
				<div class="row no-gutters justify-content-center rounded"
					 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
					<div class="col-md-12 order-first">
						<div class="form-group">
							{{ form.activity_code.label(style="font-size: 1.2rem;") }}
							{{ form.activity_code(class="form-control emphasis") }}
						</div>
					</div>
				</div>
				<br>
				<button class="btn btn-update" id="button" title="Salva" type="submit" value="x">
					<img alt="" class="icon-simple"
						 src="{{ url_for('static', filename='icons/save.svg') }}"/>
				</button>
				<br>
			</form>
		</div>
	</div>
</div>
{% endblock %}
