<!DOCTYPE html>
<!--suppress SpellCheckingInspection -->
<html lang="en">

<head>
	<!-- Condiviso con tutte le views con barra di navigazione-->
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>{% block title %}{% endblock %}Celerya-ERP</title>
	<link href="{{ url_for('static', filename='Favicon.png') }}" rel="shortcut icon">
	
	<!-- CSS only boostrap -->
	<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
		  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
	
	<!-- FONT -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
	
	<!-- link a file .css -->
	<link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet">
	<link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
	
	<!-- import plugin script -->
	<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
	
	<!-- import plugin script -->
	<script crossorigin="anonymous"
			integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
			referrerpolicy="no-referrer"
			src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
</head>

<body>
<div style="paddin: 0px; margin: 0px;">
	<nav class="navbar navbar-expand-lg navbar-dark navbar-bg-white"
		 style="padding-left: 20px; padding-rigth: 20px;">
		<!-- MENU-->
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ url_for('user_bp.users_view') }}" title="Home">
				<img alt="" height="50" src="{{ url_for('static', filename='Logo_white.svg') }}" width="100"/>
			</a>
			<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
					class="navbar-toggler"
					data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
					style="color: white;" type="button">
				<span class="navbar-toggler-icon" style="color: white"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown" style="background-color: #2B4692 !important;" title="Users">
						<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						   href="#Partners"
						   id="DropdownMenuUtenti" role="button">
							Staff
						</a>
						<ul aria-labelledby="DropdownMenuUsers" class="dropdown-menu">
							<!--  Utenti-->
							{%
							if 'superuser' in session['user_roles']
							or 'users_admin' in session['user_roles']
							or 'users_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/user/view/' %} active {% endif %}"
								   href="{{ url_for('user_bp.users_view') }}" title="Utenti">
									{% if request.path == '/user/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/person-fill-active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/person-fill.svg') }}">
									{% endif %}
									Staff
								</a>
							</li>
							{% endif %}
							<!--  Regole-->
							{%
							if 'superuser' in session['user_roles']
							or 'roles_admin' in session['user_roles']
							or 'roles_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/role/view/' %} active {% endif %}"
								   href="{{ url_for('role_bp.roles_view') }}" title="Regole Accesso">
									{% if request.path == '/role/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/settings_active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/settings_white.svg') }}">
									{% endif %}
									Roles
								</a>
							</li>
							{% endif %}
						</ul>
					</li>
					<li class="nav-item dropdown" style="background-color: #2B4692 !important;" title="Partners">
						<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						   href="#Partners"
						   id="DropdownMenuPartners" role="button">
							Partners
						</a>
						<ul aria-labelledby="DropdownMenuPartners" class="dropdown-menu">
							<!--  Partners-->
							{%
							if 'superuser' in session['user_roles']
							or 'partners_admin' in session['user_roles']
							or 'partners_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/partner/view/' %} active {% endif %}"
								   href="{{ url_for('partner_bp.partners_view') }}" title="Partners">
									{% if request.path == '/partner/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/building-active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/building.svg') }}">
									{% endif %}
									Partners
								</a>
							</li>
							{% endif %}
							<!--  Siti-->
							{%
							if 'superuser' in session['user_roles']
							or 'partner_sites_admin' in session['user_roles']
							or 'partner_sites_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/partner/site/view/' %} active {% endif %}"
								   href="{{ url_for('partner_site_bp.partner_sites_view') }}" title="Sites">
									{% if request.path == '/partner/site/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/building-active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/building.svg') }}">
									{% endif %}
									Sites
								</a>
							</li>
							{% endif %}
							<!--  Contatti-->
							{%
							if 'superuser' in session['user_roles']
							or 'partner_contacts_admin' in session['user_roles']
							or 'partner_contacts_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/partner/contact/view/' %} active {% endif %}"
								   href="{{ url_for('partner_contact_bp.partner_contacts_view') }}" title="Contacts">
									{% if request.path == '/partner/contact/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/person-fill-active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/person-fill.svg') }}">
									{% endif %}
									Contacts
								</a>
							</li>
							{% endif %}
						</ul>
					</li>
					<li class="nav-item dropdown" style="background-color: #2B4692 !important;" title="Orders">
						<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						   href="#Orders"
						   id="DropdownMenuOrdini" role="button">
							Orders
						</a>
						<ul aria-labelledby="DropdownMenuOrders" class="dropdown-menu">
							<!--  Ordini-->
							{%
							if 'superuser' in session['user_roles']
							or 'orders_admin' in session['user_roles']
							or 'orders_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/oda/view/' %} active {% endif %}"
								   href="{{ url_for('oda_bp.orders_view') }}" title="Ordini">
									{% if request.path == '/oda/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/shopping_cart_active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/shopping_cart_white.svg') }}">
									{% endif %}
									Orders
								</a>
							</li>
							{% endif %}
							<!--  Articoli-->
							{%
							if 'superuser' in session['user_roles']
							or 'items_admin' in session['user_roles']
							or 'items_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/item/view/' %} active {% endif %}"
								   href="{{ url_for('item_bp.items_view') }}" title="Articoli">
									{% if request.path == '/item/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/person-fill-active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/person-fill.svg') }}">
									{% endif %}
									Items
								</a>
							</li>
							{% endif %}
						</ul>
					</li>
					<li class="nav-item dropdown" style="background-color: #2B4692 !important;" title="Invoices">
						<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						   href="#Invoices"
						   id="DropdownMenuFatture" role="button">
							Invoices
						</a>
						<ul aria-labelledby="DropdownMenuOrders" class="dropdown-menu">
							<!--  Fatture-->
							{%
							if 'superuser' in session['user_roles']
							or 'invoices_admin' in session['user_roles']
							or 'invoices_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/invoice/view/' %} active {% endif %}"
								   href="{{ url_for('invoice_bp.invoices_view') }}" title="Fatture">
									{% if request.path == '/invoice/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/invoice_active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/invoice_white.svg') }}">
									{% endif %}
									Invoices
								</a>
							</li>
							{% endif %}
							<!--  Attività-->
							{%
							if 'superuser' in session['user_roles']
							or 'activities_admin' in session['user_roles']
							or 'activities_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/activity/view/' %} active {% endif %}"
								   href="{{ url_for('activity_bp.activities_view') }}" title="Attività">
									{% if request.path == '/activity/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/activity_active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/activity_white.svg') }}">
									{% endif %}
									Activities
								</a>
							</li>
							{% endif %}
						</ul>
					</li>
					<li class="nav-item dropdown" style="background-color: #2B4692 !important;" title="Opportunities">
						<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						   href="#Invoices"
						   id="DropdownMenuOpportunità" role="button">
							Opportunity
						</a>
						<ul aria-labelledby="DropdownMenuOpportunities" class="dropdown-menu">
							<!--  Opportunità-->
							{%
							if 'superuser' in session['user_roles']
							or 'opportunities_admin' in session['user_roles']
							or 'opportunities_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/opportunity/view/' %} active {% endif %}"
								   href="{{ url_for('opportunity_bp.opportunities_view') }}" title="Opportunità">
									{% if request.path == '/opportunity/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/handshake_active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/handshake_white.svg') }}">
									{% endif %}
									Opportunity
								</a>
							</li>
							{% endif %}
							<!--  Azioni-->
							{%
							if 'superuser' in session['user_roles']
							or 'actions_admin' in session['user_roles']
							or 'actions_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/action/view/' %} active {% endif %}"
								   href="{{ url_for('action_bp.actions_view') }}" title="Azioni">
									{% if request.path == '/action/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/action_active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/action_white.svg') }}">
									{% endif %}
									Actions
								</a>
							</li>
							{% endif %}
						</ul>
					</li>
					<li class="nav-item dropdown" style="background-color: #2B4692 !important;" title="Partners">
						<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						   href="#Partners"
						   id="DropdownMenuPlant" role="button">
							Azienda
						</a>
						<ul aria-labelledby="DropdownMenuPartners" class="dropdown-menu">
							<!--  Plant-->
							{%
							if 'superuser' in session['user_roles']
							or 'plants_admin' in session['user_roles']
							or 'plants_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/plant/view/' %} active {% endif %}"
								   href="{{ url_for('plant_bp.plants_view') }}" title="Azienda">
									{% if request.path == '/plant/view/' %}
									<img alt="" src="{{ url_for('static', filename='pittogramma_active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='pittogramma_white.svg') }}">
									{% endif %}
									Azienda
								</a>
							</li>
							{% endif %}
							<!--  Siti-->
							{%
							if 'superuser' in session['user_roles']
							or 'plant_sites_admin' in session['user_roles']
							or 'plant_sites_read' in session['user_roles']
							%}
							<li class="nav-item">
								<a class="nav-item nav-link {% if request.path == '/plant/site/view/' %} active {% endif %}"
								   href="{{ url_for('plant_site_bp.plant_sites_view') }}" title="Sites">
									{% if request.path == '/plant/site/view/' %}
									<img alt="" src="{{ url_for('static', filename='icons/building-active.svg') }}">
									{% else %}
									<img alt="" src="{{ url_for('static', filename='icons/building.svg') }}">
									{% endif %}
									Sites
								</a>
							</li>
							{% endif %}
						</ul>
					</li>
					
					<li class="nav-item dropdown" style="background-color: #2B4692 !important;">
						<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
						   id="navbarDropdownMenuLink" role="button">
						</a>
						<ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
							<!--  LogOut-->
							<li>
								<a class="dropdown-item nav-link" href="{{ url_for('user_bp.logout') }}"
								   title="Log-out">
									<img alt=""
										 src="{{ url_for('static', filename='icons/box-arrow-out-right.svg') }}">
									LogOut
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Messaggio gestione errori std -->
	<div class="container text-center mt-3 message">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<p>{{ message }}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}
	</div>
</div>

{% block content %}
{% endblock %}

<!-- JavaScript Bundle with Popper for boostrap -->
<script crossorigin="anonymous"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">
</script>
<script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"
		type="text/javascript">
</script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"
		type="text/javascript">
</script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"
		type="text/javascript">
</script>

{% block scripts %}
{% endblock %}
</body>
<footer class="footer">
	<hr>
	<br>
	<th class="footer-text"> Celerya S.r.l. - © Copyright 2021 - Tutti i diritti riservati - I marchi
		riportati appartengono ai legittimi proprietari.
	</th>
	<br><br>
	<hr>
</footer>

</html>
