{% extends '_base.html' %}

{% block content %}
<form enctype="multipart/form-data" method="POST">
	<div class="container text-center mt-2 mx-auto" style="margin: 0px;">
		<div class="row no-gutters justify-content-center">
			<div class="col-md-12 shadow rounded">
				<h3 style="padding-top: 10px;">
					Elenco Fatture:</h3>
				<div class="accordion" id="head_accordion">
					<div class="accordion-item">
						<h2 class="accordion-header" id="1">
							<button aria-controls="collapse1" aria-expanded="true"
									class="accordion-button"
									data-bs-target="#collapse1"
									data-bs-toggle="collapse"
									type="button">
								Grafici andamento fatturazione
							</button>
						</h2>
						<div aria-labelledby="heading1" class="accordion-collapse collapse"
							 data-bs-parent="#accordion"
							 id="collapse1">
							<div class="row no-gutters justify-content-center">
								<!-- GRAFICO PER ANNO FATTURA -->
								<div class="col-md-4 order-first">
									<div class="card chart-container">
										<canvas id="chart_years"></canvas>
									</div>
								</div>
								<!-- GRAFICO PER CLIENTE -->
								<div class="col-md-4 order-second">
									<div class="card chart-container">
										<canvas id="chart_clients"></canvas>
									</div>
								</div>
								<!-- GRAFICO PER CATEGORIA FATTURA -->
								<div class="col-md-4 order-second">
									<div class="card chart-container">
										<canvas id="chart_categories"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Ricerca per anno-->
                <br>
                <form method="post">
                    <label for="year">Anno Fattura:</label>
                    <input id="year" type='search' name='year' style="width: 80px;"/>
                    <button type="submit" class="btn" title="Ricerca" style="">
                        <img src="{{ url_for('static', filename='icons/search.svg') }}" alt="">
                    </button>
                </form>
				
				<!--	Tabella elenco Ordini-->
				<div class="table-responsive" style="padding: 10px">
					<table class="table table-striped" id="data" style="width:100%">
						<thead>
						<tr style="background-color: #2B4692; vertical-align: center;">
							<th class="title" id="h1">ID</th>
							<th class="title" id="h2">Invoice</th>
							<th class="title" id="h3">Data</th>
							<th class="title" id="h4">Anno</th>
							<th class="title" id="h5">Categoria</th>
							<th class="title" id="h6">Descrizione</th>
							<th class="title" id="h7">Totale</th>
							<th class="title" id="h8">Stato</th>
							<th class="title" id="h9">Scadenza</th>
							<th class="title" id="h11">Sc.</th>
							<th class="title" id="h12">C.</th>
						</tr>
						</thead>
						<tbody>
						{% for row in form %}
						<tr style="border: 0pz; vertical-align: center;">
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								<a class="tab-link" href="{{ url_for(detail, _id=row.id) }}" style=""
								   title="Visualizza">
									{{ row.id|e }}
								</a>
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.invoice_number|e }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.invoice_date|e }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.invoice_year|e }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.invoice_category|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.invoice_description|e }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.invoice_amount|e }}
							</td>
							<td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
								{% if row.invoice_status == "Pagata_OK" or row.invoice_status == "Pagata_Ritardo"%}
								<img alt="" src="{{ url_for('static', filename='icons/check_OK.svg') }}">
								{% elif row.invoice_status == "Scaduta" %}
								<img alt="" src="{{ url_for('static', filename='icons/check_KO.svg') }}">
								{% elif row.invoice_status == "Emessa" %}
								<img alt="" src="{{ url_for('static', filename='icons/check_pending.svg') }}">
								{% else %}
								<img alt="" src="{{ url_for('static', filename='icons/check_emitted.svg') }}">
								{% endif %}
								{{ row.invoice_status }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{{ row.invoice_expiration_date|e }}
							</td>
							<td class="secondary hidden" style="padding-bottom: 0pz; padding-top: 0pz;">
								{% if row.invoice_expired == False %}
								<img alt="" src="{{ url_for('static', filename='icons/check_OK.svg') }}">
								{% else %}
								<img alt="" src="{{ url_for('static', filename='icons/check_KO.svg') }}">
								{% endif %}
								{{ row.invoice_expired }}
							</td>
							<td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
								{%
								if 'superuser' in session['user_roles']
								or 'partners_admin' in session['user_roles']
								or 'partners_read' in session['user_roles']
								%}
								<a class="tab-link" href="{{ url_for(partner_detail, _id=row.client_id) }}" style=""
								   title="Visualizza">
									{{ row.client_id|e }}
								</a>
								{% else %}
								{{ row.client_id|e }}
								{% endif %}
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<br>
			</div>
		</div>
	</div>
</form>
{% endblock %}


{% block scripts %}
<script>
	// Impostazioni grafico ANNO FATTURAZIONE #######################################
    let y_labels = JSON.parse({{ y_labels | tojson }})
    // console.log("LABELS: ", y_labels)
    
    let y_values = JSON.parse({{ y_values | tojson }})
    // console.log("VALUES: ", y_values)
    
    const data = {
        labels: y_labels,
        datasets: [
        {
            label: "Fatture [5 anni]",
            data: y_values,
            fill: false,
            backgroundColor: "#ED6666", //red
            borderRadius: 2,
        }]
    };
    
    const config = {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            scales: {
                y: { beginAtZero: true }
            }
        }
    };
    
    const ctx = document.getElementById('chart_years').getContext('2d');
    const myChart = new Chart(ctx, config);


    // Impostazioni grafico CLIENTI #######################################
    let s_labels = JSON.parse({{ s_labels | tojson }})
    // console.log("LABELS: ", s_labels)
    
    let s_values = JSON.parse({{ s_values | tojson }})
    // console.log("VALUES: ", s_values)
    
    const data1 = {
        labels: s_labels,
        datasets: [{
            label: "Fatture per Cliente [5 anni]",
            data: s_values,
            fill: false,
            backgroundColor: "#2B4692", //blue
            borderRadius: 2,
        }]
    };
    
    const config1 = {
        type: 'bar',
        data: data1,
        options: {
            responsive: true,
            scales: {
                y: { beginAtZero: true }
            }
        }
    };
    
    const ctx1 = document.getElementById('chart_clients').getContext('2d');
    const myChart1 = new Chart(ctx1, config1);
    
	// Impostazioni grafico CATEGORIE #######################################
    let c_labels = JSON.parse({{ c_labels | tojson }})
    console.log("LABELS: ", c_labels)
    
    let c_values = JSON.parse({{ c_values | tojson }})
    // console.log("VALUES: ", c_values)
    
    const data2 = {
        labels: c_labels,
        datasets: [{
            label: "Fatture per Categoria [5 anni]",
            data: c_values,
            fill: false,
            backgroundColor: "#5B5A5B", //grey
            borderRadius: 2,
        }]
    };
    
    const config2 = {
        type: 'bar',
        data: data2,
        options: {
            responsive: true,
            scales: {
                x: {
                	ticks: {
                    	font: { size: 8 }
                	}
                }
            }
        }
    };
    
    const ctx2 = document.getElementById('chart_categories').getContext('2d');
    const myChart2 = new Chart(ctx2, config2);


	// TABELLA #######################################
    $(document).ready(function () {
        $('#data').DataTable({
            responsive: {
                breakpoints: [
                    { name: 'bigdesktop', width: 1920 },
                    { name: 'meddesktop', width: 1480 },
                    { name: 'smalldesktop', width: 1280 },
                    { name: 'medium', width: 1188 },
                    { name: 'tabletl', width: 1024 },
                    { name: 'btwtabllandp', width: 848 },
                    { name: 'tabletp', width: 768 },
                    { name: 'mobilel', width: 480 },
                    { name: 'mobilep', width: 320 }
                ]
            }
        });
    });

</script>
{% endblock %}
