{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-2">
	<div class="row no-gutters justify-content-center">
		<h5 class="card-title">
			{% if s_id not in [None, 0, ""] %}
			<a class="btn btn-update" href="{{ url_for(partner_site_view, _id=s_id) }}" title="Annulla" type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}"/>
			</a>
			{% else %}
			<a class="btn btn-update" href="{{ url_for(partner_view, _id=p_id) }}" title="Annulla" type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}"/>
			</a>
			{% endif %}
			Aggiungi una nuova OFFERTA sotto un CLIENTE:
		</h5>
		<div class="col-md-12 shadow rounded" style="border: solid 2px #ED6666 !important;">
			<form enctype="multipart/form-data" method="POST">
				{{ form.csrf_token }}
				<div class="row no-gutters justify-content-center rounded"
					 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
					<div class="col-md-2 order-first">
						<div class="form-group">
							{{ form.invoice_number.label(style="font-size: 1.2rem;") }}
							{{ form.invoice_number(class="form-control emphasis") }}
						</div>
					</div>
					<div class="col-md-2 order-second">
						<div class="form-group">
							{{ form.invoice_date.label(style="font-size: 1.2rem;") }}
							{{ form.invoice_date(class="form-control emphasis") }}
							{% if form.invoice_date.errors %}
							{% for error in form.invoice_date.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="col-md-8 order-third">
						<div class="form-group">
							{{ form.invoice_description.label(style="font-size: 1.2rem;") }}
							{{ form.invoice_description(class="form-control emphasis") }}
							{% if form.invoice_description.errors %}
							{% for error in form.invoice_description.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row no-gutters justify-content-center rounded"
					 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
					<div class="col-md-2 order-first">
						<div class="form-group">
							{{ form.invoice_currency.label(style="font-size: 1.2rem;") }}
							{{ form.invoice_currency(class="form-control") }}
							{% if form.invoice_currency.errors %}
							{% for error in form.invoice_currency.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="col-md-6 order-second">
						<div class="form-group">
							{{ form.invoice_payment.label(style="font-size: 1.2rem;") }}
							{{ form.invoice_payment(class="form-control", style="text-align: center;") }}
							{% if form.invoice_payment.errors %}
							{% for error in form.invoice_payment.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="col-md-4 order-third">
						<div class="form-group">
							{{ form.invoice_status.label(style="font-size: 1.2rem;") }}
							{{ form.invoice_status(class="form-control", style="text-align: center;") }}
							{% if form.invoice_status.errors %}
							{% for error in form.invoice_status.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row no-gutters justify-content-center rounded"
					 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
					<div class="col-md-2 order-first">
						<div class="form-group">
							{{ form.client_order_nr.label(style="font-size: 1.2rem;") }}
							{{ form.client_order_nr(class="form-control emphasis") }}
							{% if form.client_order_nr.errors %}
							{% for error in form.client_order_nr.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="col-md-2 order-second">
						<div class="form-group">
							{{ form.client_order_date.label(style="font-size: 1.2rem;") }}
							{{ form.client_order_date(class="form-control") }}
							{% if form.client_order_date.errors %}
							{% for error in form.client_order_date.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="col-md-4 order-third">
						<div class="form-group">
							{{ form.client_id.label(style="font-size: 1.2rem;") }}
							{{ form.client_id(class="form-control emphasis", style="text-align: center;") }}
							{% if form.client_id.errors %}
							{% for error in form.client_id.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="col-md-4 order-fourth">
						<div class="form-group">
							{{ form.client_site_id.label(style="font-size: 1.2rem;") }}
							{{ form.client_site_id(class="form-control", style="text-align: center;") }}
							{% if form.client_site_id.errors %}
							{% for error in form.client_site_id.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row no-gutters justify-content-center rounded"
					 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
					<div class="col-md-6 order-first">
						<div class="form-group">
							{{ form.plant_id.label(style="font-size: 1.2rem;") }}
							{{ form.plant_id(class="form-control emphasis", style="text-align: center;") }}
							{% if form.plant_id.errors %}
							{% for error in form.plant_id.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="col-md-6 order-second">
						<div class="form-group">
							{{ form.plant_site_id.label(style="font-size: 1.2rem;") }}
							{{ form.plant_site_id(class="form-control", style="text-align: center;") }}
							{% if form.plant_site_id.errors %}
							{% for error in form.plant_site_id.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row no-gutters justify-content-center rounded"
					 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
					<div class="form-group">
						{{ form.note.label(style="font-size: 1.2rem;") }}
						{{ form.note(class="form-control") }}
						{% if form.note.errors %}
						{% for error in form.note.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<br>
				<button class="btn btn-update" id="button" title="Salva" type="submit" value="x">
					<img alt="" class="icon-simple"
						 src="{{ url_for('static', filename='icons/save.svg') }}"/>
				</button>
				<br>
			</form>
		</div>
	</div>
</div>
{% endblock %}
